*{
  
}
   

body{
    font-family: 'Inter', sans-serif;
    background-color: #048853;
}
.nome{
    position: absolute;
width: 189px;
height: 30px;
left: 131px;
top: 47px;
color:white
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
}

header{
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul li{
    list-style: none;
    margin: 0 10px;
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #ffffff;
}

.botao a{
    text-decoration: none;
}

.botao1{
    color: #fcfcfc;
}

.botao2{
    color: rgb(52, 131, 65);
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
}

.botaopesquisar{
    color:white 
    position: absolute;
    width: 237px;
    height: 70px;
    left: 93px;
    top: 478px;
}

.casa{
    position: absolute;
width: 932.18px;
height: 588.76px;
left: 688.59px;
top: 179.66px;
width: 932.18px;
height: 588.76;
background-position: right;
background-repeat: no-repeat;
align-items: center;
display: flex;
justify-content: right;


}
.slogan{
   
    color: white;
width: 491px;
height: 144px;
left: 93px;
top: 206px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 52px;
line-height: 72px;

}
.abaixo{
   
width: 453px;
height: 72px;
left: 97px;
top: 368px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;

}
.botao01{
    background-color: #ffffff;
    color: rgb(43, 126, 43)55, 255, 255);
    text-decoration: none;
    padding: 30px 50px;
    border-radius: 70px;
}
.tree{
    color: white
}
.botaopes{
    color: white
  border-radius= 50px;
}

